<header>
  <nav class="container mx-auto max-w-3xl px-8 pt-6 flex flex-wrap justify-between">
    <div>
      <h1>
        <a href="{{ site.baseUrl }}">{{ site.name }}</a>
      </h1>

    </div>
          <ul class="flex sm:w-32 w-full mt-6 md:justify-between justify-evenly min-w-fit gap-6">
      <li>
        <a href="{{ site.baseUrl }}about">About</a>
      </li>
      <li>
        <a href="{{ site.baseUrl }}">Projects</a>
      </li>
      <li>
        <a href="{{ site.baseUrl }}resume.html">Resume</a>
      </li>
    </ul>

  
  <nav class="container mx-auto max-w-3xl flex flex-wrap justify-between">
    <p>{{site.description}}</p>
  </nav>
  
</header>