@keyframes tag-hover {
  100% {
    border: 1px solid #fff;
    filter: brightness(70%);
  }
}

.tag {
  @apply inline-block px-4 py-2 mr-2 mb-2 text-xs font-bold rounded lowercase text-gray-900;
  border: 1px solid transparent;
}

.tag:hover {
  animation: tag-hover 300ms both;
}

.tag:before {
  content: "#";
}

.tag.coding {
  @apply bg-stone-300;
}
